html, body {
	font-family:Calibri;
	background-color:#ddd;
}
h1 {
	font-family: "Trebuchet MS";
	font-size: 160%;
	display:block;
	border:1px solid black;
	border-top:0;
	border-left:0;
	border-right:0;

}
h2 {
	font-family: "Trebuchet MS";
	font-size: 150%;
}
h3 {
	font-family: "Trebuchet MS";
	font-size: 140%;

}
h4 {
	display:block;
	border:2px solid black;
	border-top:0;
	border-left:0;
	border-right:0;
	padding:2px;
	font-family: "Trebuchet MS";
	font-size: 130%;
	margin-bottom:10px;
}
h5 {
	font-family: "Trebuchet MS";
	font-size: 120%;
}
h6 {
	font-family: "Trebuchet MS";
	font-size: 110%;
}
blockquote {
	line-height:140%;
}

li,ul {
	list-style-type:none;
}
ul li {
	margin-left: 0px;
}

#div-header {
	position:relative;
	display:table;
	margin:auto;

}

#img-header {
	width:830px;
	height:466px;
}

#img-logo{
	position:absolute;
	width:270px;
	height:466px;
	top:0%;
	left:77%;
}

li.sections {
	float:left;
}
li.sections:hover {
	background-color:grey;
}

a.sections {
	display:block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none


}
ul.sections {
	font-family: "Trebuchet MS";
	font-size:115%;
	font-weight:bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

nav.sections {
	width:1080px;
}

div.content {
	margin:0 auto;
	width: 1080px;
}
	div.post {
	margin:0 auto;
	width: 1080px;
}

footer {
	display:table;
	color = white;
	border:2px solid black;
	height:50px;
	width:1080px;
	border-left:0;
	border-right:0;
	margin-bottom:0;

}
ul.footer {


}
li.footer {
	vertical-align:center;
	width:270px;
	text-align:center;
	display:table-cell;
	padding-bottom:6px;

}


a.footer {
	font-size:110%;
	font-weight:bold;
	color:black;
	text-decoration:none;

}
a.footer:hover {
	color:red;
}
#RSS {
	height:25px;
	width:25px;
}

code {
  display: block;
  border-radius: 5px;
  color: #00000;
  font: 110% "Calibri", Calibri;
  line-height:145%;
  padding: 1% 1%;

}
header,
section,
{
  margin: 1% 1.5% 1% 1.5%;
}
footer {
	margin:0 auto;
}
section {
  float: left;
  width: 25%;

}
footer {
  clear: both;
  margin-bottom: 0;
}
section.ingredients {
	  

}
section.post-text {
	width:70%;
	text-align:justify;
	margin-left:5%;
	
}
section.full-page-text {
	width:100%;
	text-align:justify;
	  
}
section.additional-image {
	width:100%;
}
code.ingredients {
	font-size:100%;
}

#nutritionfacts { 
	background-color:white; 
	border:1px solid black; 
	padding:10px; width:244px; 
}
#nutritionfacts td { 
	color:black; 
	font-family:'Arial Black','Helvetica Bold',sans-serif; 
	font-size:8pt; 
	padding:0; 
}
#nutritionfacts td.header { 
	font-family:'Arial Black','Helvetica Bold',sans-serif; 
	font-size:28px; 
	white-space:nowrap; 
}        
#nutritionfacts div.label { 
	float:left; 
	font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#nutritionfacts div.serving { 
	font-family:Arial,Helvetica,sans-serif; 
	font-size:8pt; 
	text-align:center; 
}
#nutritionfacts div.weight { 
	display:inline; 
	font-family:Arial,Helvetica,sans-serif; 
	padding-left:1px; 
}
#nutritionfacts div.line { 
	border-top:1px solid black; 
}
#nutritionfacts div.labellight { 
	float:left; 
	font-family:Arial,Helvetica,sans-serif; 
}
#nutritionfacts .highlighted {
	border:1px dotted grey;
	padding:2px;
}
span.thumbnail-text {
    position:relative;
	font-weight:bold;
	font-size:125%;
	display:block;
	color: white;
	background-color:#35c;
	text-shadow: 1px 1px #000;
	text-align:center;
	width:280px;
	margin-left:20px;
	margin-top:-35px;
}
section.thumbnail-collection {
	width:1080px;
}

section.thumbnail {
	display:block;
	padding:1%;
	margin: 3% 3% 3% 3%;
}
