	
		
		html, body {
		
		}
		ul {
			font-family:Calibri;
		}
		
		
		#div-header {
			position:relative;
			display:table;
			margin:auto;
	
		}
		
		#img-header {
			width:830px;
			height:495px;
		}
		
		#img-logo{
			position:absolute;
			width:250px;
			height:450px;
			top:6%;
			left:80%;
		}
		
		li.sections {
			float:left;
		}
		li.sections:hover {
			background-color:grey;
		}
		
		a.sections {
			display:block;
			color: white;
			text-align: center;
			padding: 16px;
			text-decoration: none
			
			
		}
		ul.sections {
			font-size:120%;
			font-weight:bold;
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333333;
			
		}
		
		div.sections {
			width:1080px;
			
		}
		
		div.content {
			position:relative;
			margin:0 auto;
			width: 1080px;
			
		}
		
		div.footer {
			display:table;
			color = white;
			border:3px solid black;
			height:50px;
			margin:0 auto;
			width:1080px;
			border-left:0;
			border-right:0;
			
		}
		ul.footer {
			
			
		}
		li.footer {
			vertical-align:center;
			width:270px;
			text-align:center;
			display:table-cell;
			padding-top:7px;
			padding-bottom:7px;
			
		}
		
		a.footer {
			font-size:120%;
			font-weight:bold;
			color:black;
			text-decoration:none;
			
		}
		a.footer:hover {
			color:red;
		}
		#RSS {
			height:30px;
			width:30px;
		}
