html, body {
	font-family:Calibri;
	background-color:#eee;
}
h1 {
	font-family: "Trebuchet MS";
	font-size: 160%;
	display:block;
	border:1px solid black;
	border-top:0;
	border-left:0;
	border-right:0;

}
h2 {
	font-family: "Trebuchet MS";
	font-size: 150%;
}
h3 {
	font-family: "Trebuchet MS";
	font-size: 140%;

}
h4 {
	display:block;
	border:2px solid black;
	border-top:0;
	border-left:0;
	border-right:0;
	padding:2px;
	font-family: "Trebuchet MS";
	font-size: 130%;
	margin-bottom:10px;
}
h5 {
	font-family: "Trebuchet MS";
	font-size: 120%;
	display:block;
	background-color:#eee;
	width:20%;
	padding:4px;
	text-align:center;
	border-radius:6px;
	border:1px solid black;
	margin-top:15px;
	margin-bottom:6px;
}
h6 {
	font-family: "Trebuchet MS";
	font-size: 110%;
}
blockquote {
	line-height:140%;
}

li,ul {
	list-style-type:none;
}
ul li {
	margin-left: 0px;
}

#div-header {
	position:relative;
	display:table;
	margin:auto;

}

#img-header {
	width:830px;
	height:466px;
}

#img-logo{
	position:absolute;
	width:270px;
	height:466px;
	top:0%;
	left:77%;
}

nav {
	width:1080px;
}

ul {
    list-style-type: none;
	width:1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li.nav-top, li.nav-drop  {
	float:left;
	position:inline;
}

li a, a.nav-drop {
    display: inline-block;
	font-family:"Trebuchet MS";
	font-size:115%;
	font-weight:bold;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.dropdown-content a {
    color: black;
    padding:12px;
	font-size:115%;
    text-decoration: none;
	font-weight:bold;
	background-color:white;
    display: block;
    text-align: left;
}


li.nav-top:hover, li.nav-drop:hover  {
	background-color:#666666;
}
.tags:hover   {
	color:red;
}
.nav-drop, .nav-top {
	display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-drop:hover .dropdown-content {
	display:inline-block;
}


img.macro-rectangle  {
	float:left;
	height:32px;
	margin: 10px;

}

img.macro-rectangle:hover  {
	background-color: #333;

}
p.macro-rectangle  {
	font-weight:bold;
	font-family: "Trebuchet MS";
	list-style-type: none;
	font-size:115%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	float:left;
	display:block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;

}


div.content {
	margin:0 auto;
	width: 1080px;
}
	div.post {
	margin:0 auto;
	width: 1080px;
}

footer {
	display:table;
	color = white;
	border:2px solid black;
	height:50px;
	width:1080px;
	border-left:0;
	border-right:0;
	margin-bottom:0;

}
ul.footer {
	background-color:#eee;

}
li.footer {
	vertical-align:center;
	width:270px;
	text-align:center;
	display:table-cell;
	padding-bottom:6px;

}


a.footer {
	font-size:110%;
	font-weight:bold;
	color:black;
	text-decoration:none;

}
a.footer:hover {
	color:red;
}
#RSS {
	height:25px;
	width:25px;
}

code {

  border-radius: 5px;
  color: #00000;
  font: 110% "Calibri", Calibri;
  line-height:145%;
  padding: 1% 1%;

}
header,
section,
{
  margin: 1% 1.5% 1% 1.5%;
}
footer {
	margin:0 auto;
}
section {
  width: 25%;

}
footer {
  clear: both;
  margin-bottom: 0;
}
section.ingredients {
	  

}
section.post-text {
	width:70%;
	text-align:justify;
	margin-left:3%;
	  float: left;

	
}
section.full-page-text {
	width:100%;
	text-align:justify;
	  float: left;
	  
}
section.additional-image {
	width:100%;
	  float: left;
}
code.ingredients {
	font-size:100%;
	
}
section.ingredients {
	  float: left;
}

#nutritionfacts { 
	
	border:1px solid black; 
	padding:10px; width:244px; 
}
#nutritionfacts td { 
	color:black; 
	font-family:'Arial Black','Helvetica Bold',sans-serif; 
	font-size:10pt; 
	padding:0; 
}
#nutritionfacts td.header { 
	font-family:'Arial Black','Helvetica Bold',sans-serif; 
	font-size:28px; 
	white-space:nowrap; 
}        
#nutritionfacts div.label { 
	float:left; 
	font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#nutritionfacts div.serving { 
	font-family:Arial,Helvetica,sans-serif; 
	font-size:10pt; 
	text-align:center; 
}
#nutritionfacts div.weight { 
	display:inline; 
	font-family:Arial,Helvetica,sans-serif; 
	padding-left:1px; 
}
#nutritionfacts div.line { 
	border-top:1px solid black; 
}
#nutritionfacts div.labellight { 
	float:left; 
	font-family:Arial,Helvetica,sans-serif; 
}
#nutritionfacts .highlighted {
	border:1px dotted grey;
	padding:2px;
}
span.thumbnail-text {
	padding:4px;
	position:absolute;

	font-size:125%;
	display:block;
	color: white;
	text-shadow: 1px 1px #000;
	text-align:center;
	width:280px;
	margin-left:20px;
	margin-top:-35px;
	background:rgba(50, 50, 50, 0.7);


}
section.thumbnail-collection {
	width:1080px;
	margin-left:-2.5%;
}

section.thumbnail {
	display:inline-block;
	padding:1%;
	margin: 3% 3% 3% 3%;
}
a.thumbnail {
	position:relative;
	text-decoration:none;
}
img.thumbnail {
	width:320px;
}
div.thumbnail-calories {
	position:absolute;
	display:block;
	width:80px;
	margin-left:255px;
	margin-top:-200px;
}

