---
layout: default
title: Home of The Gluttonous Bear
paginate: true
---

<h1>{{ page.title }}</h1>


<section class="thumbnail-collection">
	{% assign intarray = "1,2,3,4,5" | split: ',' %}
	{% assign chararray = "c,d,e" | split: ',' %}

  {% for post in site.posts %}
	{% if post.category == "Test" %}
	<!-- do nothing -->
	{% else %}
		<section class="thumbnail">
			<code>
				<a class="thumbnail" href="{{ post.url }}"><img class="thumbnail" src="{{ post.thumbnail }}" alt="thumbnails for posts" />
					<span class="thumbnail-text" style="  
						background-color:#{{ intarray | sample }}{{ intarray | sample }}{{ chararray | sample }};">
					{{ post.title }}</span> </a>
				
			</code>
		</section>
	{% endif %}
  {% endfor %}

</section>

<section class="thumbnail-collection">
{% for post in paginator.posts %}
	{% if post.category == "Test" %}
	<!-- do nothing -->
	{% else %}
		<section class="thumbnail">
			<code>
				<a class="thumbnail" href="{{ post.url }}"><img class="thumbnail" src="{{ post.thumbnail }}" alt="thumbnails for posts" />
					<span class="thumbnail-text" style="  
						background-color:#{{ intarray | sample }}{{ intarray | sample }}{{ chararray | sample }};">
					{{ post.title }}</span> </a>
				
			</code>
		</section>
	{% endif %}
{% endfor %}
</section>


{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

