---
layout: default
title: Home of The Gluttonous Bear
---

<h1>{{ page.title }}</h1>


<section class="thumbnail-collection">
	{% assign intarray = "1,2,3,4,5" | split: ',' %}
	{% assign chararray = "c,d,e" | split: ',' %}

  {% for post in site.posts %}
	{% if post.category == "Diet" %}
	<!-- do nothing -->
	{% else %}
		<section class="thumbnail">
			<code>
				<a class="thumbnail" href="{{ post.url }}"><img class="thumbnail" src="{{ post.thumbnail }}" alt="thumbnails for posts" />
					</a>
				<span class="thumbnail-text" style="  
						background-color:#{{ intarray | sample }}{{ intarray | sample }}{{ chararray | sample }};">
					{{ post.title }}</span> 
			</code>
		</section>
	{% endif %}
  {% endfor %}

</section>
