<code class="calories">
					<div id="nutritionfacts">
						<table width="242" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td align="center" class="header">Nutrition Values</td>
								</tr>
								<tr>
									<td><div class="serving">Per <span class="highlighted">{{ include.weight | default: "n/a" }}</span> Serving Size</div></td>
								</tr>
								<tr style="height: 7px">
									<td bgcolor="#000000"></td>
								</tr>
							 
								<tr>
									<td>
										<div class="line">
										<div class="label">kcal <div class="weight">{{ include.calories | default: "n/a" }}</div></div>
										</div>
									</td>
								</tr>
								<tr>
									<td><div class="line"></div></td>
								</tr>
								<tr>
									<td>
										<div class="line">
										<div class="label" style="color:#1b4888;border:3px solid #1b4888;border-top:none;border-left:none;border-right:none;margin-bottom:3px;">Total Fat&#160;</div><div class="weight">{{ include.fats | default: "n/a" }}</div></div>
									</td>
								</tr>
											<tr>
									<td class="indent">
										<div class="line">
										<div class="labellight" >Saturated Fat <div class="weight">{{ include.saturated_fats | default: "n/a" }}</div></div>
										</div>
									</td>
								</tr>
											<tr>
									<td class="indent">
										<div class="line">
										<div class="labellight"><i>Trans</i> Fat <div class="weight">{{ include.trans_fats | default: "n/a" }}</div></div>
										</div>
									</td>
							   
											<tr>
									<td>
										<div class="line">
										<div class="label">Sodium <div class="weight">{{ include.sodium | default: "n/a" }}</div></div>
										</div>
									</td>
								</tr>
											<tr>
									<td>
										<div class="line">
										<div class="label" style="color:#e12929;border:3px solid #e12929;border-top:none;border-left:none;border-right:none;margin-bottom:3px">Total Carbohydrates&#160;</div><div class="weight" style="color:black">{{ include.carbs | default: "n/a" }}</div></div>
									</td>
								</tr>
										<tr>
									<td class="indent">
										<div class="line">
										<div class="labellight">Sugars <div class="weight">{{ include.sugar | default: "n/a" }}</div></div>
										</div>
									</td>
								</tr>
								
											<tr>
									<td class="indent">
										<div class="line">
										<div class="labellight">Dietary Fiber <div class="weight">{{ include.fiber | default: "n/a" }}</div></div>
									</div></td>
								</tr>
									
											<tr>
									<td>
										<div class="line">
										<div class="label" style="color:#d9a41d;border:3px solid #d9a41d;border-top:none;border-left:none;border-right:none;margin-bottom:3px">Protein&#160;</div><div class="weight">{{ include.protein | default: "n/a" }}</div>
									</div></td>
								</tr>
								<tr style="height: 7px">
									<td bgcolor="#000000"></td>
								</tr>
							</tbody>
						</table>
					</div>

				</code>
