<!-- NAVIGATION BAR -->
					<nav class="sections">
						<ul class="sections">
							<li class="sections"><a class="sections" href="/pages/diet.html">Diet</a></li>
							<li class="sections"><a class="sections" href="/pages/gluttony.html">Gluttony</a></li>
							<li class="sections"><a class="sections" href="/pages/origin.html">Origin</a></li>
							<li class="sections"><a class="sections" href="/pages/guests.html">Guest Hall of Fame</a></li>
							<li class="sections" style=float:right;><a class="sections" href="#search">search</a></li>
						</ul>
					</nav>
