<!-- NAVIGATION BAR -->
					{% assign active = page.url | downcase | split: '/' %}
					<nav class="navbar">
						<ul class="nav-top">
							<li class="nav-drop"><a class="nav-drop" href="/pages/diet" {% if active[2] == 'diet' %} id="active"{% endif %}{% if active[4] == 'diet' %} id="active"{% endif %}>Diet</a>
								<div class="dropdown-content" >
									<a class="tags" href="/pages/diet/ketogenic/">ketogenic</a>
									<a class="tags" href="/pages/diet/low-carb/">low-carb</a>
									<a class="tags" href="/pages/diet/yolked/">yolked</a>
									<a class="tags" href="/pages/diet/low-fat/">low-fat</a>
									<a class="tags" href="/pages/diet/lean-meat/">lean meat</a>
									<a class="tags" href="/pages/diet/balanced/">balanced</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/gluttony" {% if active[2] == 'gluttony' %} id="active"{% endif %}{% if active[4] == 'gluttony' %} id="active"{% endif %}>Gluttony</a>
								<div class="dropdown-content" style="min-width:106px;">
									<a class="tags" href="/pages/gluttony/tex-mex/">tex-mex</a>
									<a class="tags" href="/pages/gluttony/curry/">curry</a>
									<a class="tags" href="/pages/gluttony/cheese/">cheese</a>
									<a class="tags" href="/pages/gluttony/pizza/">pizza</a>
									<a class="tags" href="/pages/gluttony/pasta/">pasta</a>
									<a class="tags" href="/pages/gluttony/spicy/">spicy</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/vegetarian" {% if active[2] == 'vegetarian' %} id="active"{% endif %}{% if active[4] == 'vegetarian' %} id="active"{% endif %}>Vegetarian</a>
								<div class="dropdown-content" style="min-width:124px;">
									<a class="tags" href="/pages/vegetarian/vegan/">vegan</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/origin" {% if active[2] == 'origin' %} id="active"{% endif %}{% if active[4] == 'origin' %} id="active"{% endif %}>Origin</a>
								<div class="dropdown-content" style="min-width:84px;">
									<a class="tags" href="/pages/origin/fusion/">Fusion</a>
									<a class="tags" href="/pages/origin/italy/">Italy</a>
									<a class="tags" href="/pages/origin/usa/">USA</a>
									<a class="tags" href="/pages/origin/greece/">Greece</a>
								</div>
							</li>
							<li class="nav-top"><a class="nav-top" href="/pages/guest" {% if active[2] == 'guest' %} id="active"{% endif %}{% if active[4] == 'guest' %} id="active"{% endif %}>Guest Hall of Fame</a></li>
							<li id="nav-top" style="float:right">
								<img class="macro-rectangle" src="/images/yellow_rec.jpg" alt="small icon" />
								<p class="macro-rectangle">Protein</p>
								<img class="macro-rectangle" src="/images/red_rec.jpg" alt="small icon" />
								<p class="macro-rectangle">Carbohydrates</p>
								<img class="macro-rectangle" src="/images/blue_rec.jpg" alt="small icon" />
								<p class="macro-rectangle">Fat</p></li>
							
						</ul>
						
					</nav>
					
