<!-- NAVIGATION BAR -->

					<nav class="navbar">
						<ul class="nav-top">
							<li class="nav-drop"><a class="nav-drop" href="/pages/diet.html">Diet</a>
								<div class="dropdown-content" >
									<a class="tags" href="/pages/gluttony.html">ketogenic</a>
									<a class="tags" href="/pages/gluttony.html">low-carb</a>
									<a class="tags" href="/pages/gluttony.html">yolked</a>
									<a class="tags" href="/pages/gluttony.html">low-fat</a>
									<a class="tags" href="/pages/gluttony.html">lean meat</a>
									<a class="tags" href="/pages/gluttony.html">balanced</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/gluttony.html">Gluttony</a>
								<div class="dropdown-content" style="min-width:106px;">
									<a class="tags" href="/pages/gluttony.html">tex-mex</a>
									<a class="tags" href="/pages/gluttony.html">curry</a>
									<a class="tags" href="/pages/gluttony.html">cheese</a>
									<a class="tags" href="/pages/gluttony.html">pizza</a>
									<a class="tags" href="/pages/gluttony.html">pasta</a>
									<a class="tags" href="/pages/gluttony.html">spicy</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/gluttony.html">Vegetarian</a>
								<div class="dropdown-content" style="min-width:124px;">
									<a class="tags" href="/pages/gluttony.html">vegan</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/origin.html">Origin</a>
								<div class="dropdown-content" style="min-width:84px;">
									<a class="tags" href="/pages/gluttony.html">Fusion</a>
									<a class="tags" href="/pages/gluttony.html">Italy</a>
									<a class="tags" href="/pages/gluttony.html">USA</a>
									<a class="tags" href="/pages/gluttony.html">Greece</a>
								</div>
							</li>
							<li class="nav-top"><a class="nav-top" href="/pages/guests.html">Guest Hall of Fame</a></li>
							<li id="nav-top" style="float:right">
								<img class="macro-rectangle" src="/images/yellow_rec.jpg" alt="small icon" />
								<p class="macro-rectangle">Protein</p>
								<img class="macro-rectangle" src="/images/red_rec.jpg" alt="small icon" />
								<p class="macro-rectangle">Carbohydrates</p>
								<img class="macro-rectangle" src="/images/blue_rec.jpg" alt="small icon" />
								<p class="macro-rectangle">Fat</p></li>
							
						</ul>
						
					</nav>
					
