<!-- NAVIGATION BAR -->
					<nav class="navbar">
						<ul class="nav-top">
							<li class="nav-drop"><a class="nav-drop" href="/pages/diet.html">Diet</a>
								<div class="dropdown-content" >
									<a class="tags" href="/pages/diet/ketogenic.html">ketogenic</a>
									<a class="tags" href="/pages/diet/low-carb.html">low-carb</a>
									<a class="tags" href="/pages/diet/yolked.html">yolked</a>
									<a class="tags" href="/pages/diet/low-fat.html">low-fat</a>
									<a class="tags" href="/pages/diet/lean-meat.html">lean meat</a>
									<a class="tags" href="/pages/diet/balanced.html">balanced</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/gluttony.html">Gluttony</a>
								<div class="dropdown-content" style="min-width:106px;">
									<a class="tags" href="/pages/gluttony/tex-mex.html">tex-mex</a>
									<a class="tags" href="/pages/gluttony/curry.html">curry</a>
									<a class="tags" href="/pages/gluttony/cheese.html">cheese</a>
									<a class="tags" href="/pages/gluttony/pizza.html">pizza</a>
									<a class="tags" href="/pages/gluttony/pasta.html">pasta</a>
									<a class="tags" href="/pages/gluttony/spicy.html">spicy</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/vegetarian.html">Vegetarian</a>
								<div class="dropdown-content" style="min-width:124px;">
									<a class="tags" href="/pages/vegetarian/vegan.html">vegan</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/origin.html">Origin</a>
								<div class="dropdown-content" style="min-width:84px;">
									<a class="tags" href="/pages/origin/fusion.html">Fusion</a>
									<a class="tags" href="/pages/origin/italy.html">Italy</a>
									<a class="tags" href="/pages/origin/usa.html">USA</a>
									<a class="tags" href="/pages/origin/greece.html">Greece</a>
								</div>
							</li>
							<li class="nav-top"><a class="nav-top" href="/pages/guests.html">Guest Hall of Fame</a></li>
							<li class="nav-top" style="float:right"><a class="nav-top" href="/">Home</a></li>
								
							
						</ul>
						
					</nav>

					
					
					