<!-- NAVIGATION BAR -->
					<nav class="navbar">
						<ul class="nav-top">
							<li class="nav-drop"><a class="nav-drop" href="/pages/diet/">Diet</a>
								<div class="dropdown-content" >
									<a class="tags" href="/pages/diet/ketogenic/">ketogenic</a>
									<a class="tags" href="/pages/diet/low-carb/">low-carb</a>
									<a class="tags" href="/pages/diet/yolked/">yolked</a>
									<a class="tags" href="/pages/diet/low-fat/">low-fat</a>
									<a class="tags" href="/pages/diet/lean-meat/">lean meat</a>
									<a class="tags" href="/pages/diet/balanced/">balanced</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/gluttony/">Gluttony</a>
								<div class="dropdown-content" style="min-width:106px;">
									<a class="tags" href="/pages/gluttony/tex-mex/">tex-mex</a>
									<a class="tags" href="/pages/gluttony/curry/">curry</a>
									<a class="tags" href="/pages/gluttony/cheese/">cheese</a>
									<a class="tags" href="/pages/gluttony/pizza/">pizza</a>
									<a class="tags" href="/pages/gluttony/pasta/">pasta</a>
									<a class="tags" href="/pages/gluttony/spicy/">spicy</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/vegetarian/">Vegetarian</a>
								<div class="dropdown-content" style="min-width:124px;">
									<a class="tags" href="/pages/vegetarian/vegan/">vegan</a>
								</div>
							</li>
							<li class="nav-drop"><a class="nav-drop" href="/pages/origin/">Origin</a>
								<div class="dropdown-content" style="min-width:84px;">
									<a class="tags" href="/pages/origin/fusion/">Fusion</a>
									<a class="tags" href="/pages/origin/italy/">Italy</a>
									<a class="tags" href="/pages/origin/usa/">USA</a>
									<a class="tags" href="/pages/origin/greece/">Greece</a>
								</div>
							</li>
							<li class="nav-top"><a class="nav-top" href="/pages/guest/">Guest Hall of Fame</a></li>
							<li class="nav-top" style="float:right"><a class="nav-top" href="/">Home</a></li>
								
							
						</ul>
						
					</nav>

					
					
					