---
layout: post
title: "Sweet-potato and pumpkin Thai curry"
date: 2017-03-28
thumbnail: "/images/2017-03-28-sweet-potato-pumpkin-thai-curry-thumbnail.jpg"
comments: true
tags:
- gluttony
- curry
- spicy
category: Gluttony
origin: Fusion
fats: 45
carbs: 59
protein: 58
---


		<!-- BEGINNING OF INDIVIDUAL PAGE CONTENT -->

		
			<section class="ingredients">
				 <code class="ingredients">
					<h4>Ingredients (2 Servings)</h4>
					400g <b>chicken breast</b> or <b>lean beef</b><br />
					250g <b>sweet potato</b><br />
					300g <b>hokkaido pumpkin</b><br />
					400ml <b>coconut milk</b><br />
					1 medium <b>onion</b><br />
					2 <b>bell peppers</b> red or yellow<br />
					a handful of <b>fresh cilantro</b><br />
					10ml <b>coconut oil</b> OR <b>other oil</b><br />
					<h4>Spices</h4>
					 4 cloves of <b>garlic</b><br />
					<b>habanero</b> OR <b>other chili</b><br />
					<b>kurkuma</b><br />
					<b>cumin</b><br />
					<b>ginger</b><br />
					yellow <b>curry paste</b> OR <b>curry spice blend</b><br />
					<b>vegetable stock</b><br />
					<b>salt and pepper</b> to taste<br />
				</code>
				
				<br />
				{% include calories.html weight="880g" calories="885" fats="44.9g" saturated_fats="" trans_fats="" sodium="345mg" carbs="58.6g" sugar="24.2g" fiber="24.4g" protein="57.7g" %}
				<br />
				{% include piechart.html fats="44.9"  carbs="58.6" protein="57.7" %}
				<br />
			</section>

			<section class="post-text">
			  <code class ="post-text">
					<br />
				  	In Autumn of 2015 I went to the supermarket and saw a beautiful hokkaido pumpkin. I figured I could make a soup, but then again,
				  soups can not really be counted as a full meal. (There are exceptions, but I generally don't feel satiated after spooning a
				  liquid :P). In the end, I just picked up random groceries I liked, and figures I could stir them together with coconut milk. The result 
				  was surprisingly good. This recipe does not require rice, since the pumpkin and potato provide plenty of carbs<br />
					
				  <h5>Preparation</h5>Get 1 liter of water boiling in a pot. Add vegetable stock. Cut up sweet potato and pumpkin into cubes approximately 
				  the size of rolling dice. Personally, I dump the  interior of the pumpkin but if you want to keep it for a soup, do it. Add sweet 
				  potato to the boiling water, 3 minutes later add pumpkin. Meanwhile fry up onion, garlic, bell peppers and chicken in the oil. 
				  Spice with chili salt and pepper.Set aside. Once the potato and pumpkin cubes are piercable by a fork but still a bit hard on the inside, 
				  drain the vegetable stock. Now, add curry paste to a large pot, add coconut milk and heat up until boiling. Immediately turn down the heat 
				  to 30% and add everything (<b>except the cilantro</b>). Simmer slowly for 20 minutes. Serve with fresh cilantro and optional chili or hot
				  sauce on top. <br /><br />
					<img src="/images/2017-03-28-sweet-potato-pumpkin-thai-curry.jpg" alt="thai curry image" style="width:100%"/>
				</code>
			</section>

			<section class="full-page-text">
				<code>
				</code>
			</section>
			
			<section class ="additional-image">
			</section>
		
		<br />
