---
layout: post
title: "Cheese infused vegetable lasagna"
date: 2017-04-07
thumbnail: "/images/2017-04-07-cheese-infused-vegetable-lassagna4-thumbnail.jpg"
comments: true
tags:
- vegetarian
- pasta
- cheese
category: Vegetarian
origin: Italy
fats: 68.2
carbs: 68.7
protein: 49
---


		<!-- BEGINNING OF INDIVIDUAL PAGE CONTENT -->
			<section class="ingredients">
				 <code class="ingredients">
					<h4>Ingredients (3 Servings)</h4>
					180g fresh <b>lasagna sheets</b><br />
					650ml of <b>milk 3,5%</b><br />
					200g<b>cottage cheese 4%</b><br />
					125g <b>mascarpone</b><br />
					50g <b>flour</b><br />
					50 <b>butter</b><br />
					2 medium <b>zucchinis</b><br />
					1 large <b>carrot</b><br />
					1 large <b>onion</b><br />
					200g of grated<b>cheese</b> of your choice<br />
					<h4>Spices</h4>
					3 cloves <b>garlic</b><br />
					<b>oregano</b><br />
					<b>parsil</b><br />
					<b>nutmeg</b><br />
					<b>vegetable stock</b><br />
					<b>Salt and Pepper</b> to taste<br />
				</code>
				
				<br />
				{% include calories.html weight="347.5g" calories="1084" fats="68.2g" saturated_fats="" trans_fats="" sodium="2279mg" carbs="68.7g" sugar="23.2g" fiber="5.3g" protein="49g" %}
				<br />
				{% include piechart.html fats="68.2" carbs="68.7"  protein="49" %}
				<br />
			</section>

			<section class="post-text">
			  <code class ="post-text">
					<br />
				  <img src="/images/2017-04-07-cheese-infused-vegetable-lassagna.jpg" alt="lasagna image" style="width:32.3%"/>
				 	<img src="/images/2017-04-07-cheese-infused-vegetable-lassagna2.jpg" alt="lasagna image" style="width:32.3%"/>
					<img src="/images/2017-04-07-cheese-infused-vegetable-lassagna3.jpg" alt="lasagna image" style="width:32.3%"/><br />
				  	This one's for all the vegetarians who cannot experience the savory epiphany that is a well made lasagna. Lasagna with meat sauce is arguably the rank #1 contender for any
					and all titles, that food could hold. However, this one comes pretty close to emulating the richness and grandeur only a steamy lasagna can hope to achieve.  It is laden with
					cheese in three varieties and the most savory bechamél one could imagine. <br /><br /> 
				  
				  <h5>The bechamél</h5>Heat up butter a large non-stick pot. Mix in flour until the consistency is crumbly. Slowly stir in milk and let thicken, then consistently add the rest of the milk. 
				  Add cottage cheese, mascarpone, a generous amount of salt and one or two good pinches of nutmeg. If you want to be an italian purist you will let the sauce simmer for about 20 minutes
				  until the taste of flour has dispersed. Personally, I like to add oregano leaves, that supplement the bland taste of pure bechamél.  </br></br>
				   <h5>The veggies</h5>
				  Cut carrots and zucchini into thin slices no more than 5mm thick. Cook them for a few minutes in vegetable stock. Meanwhile, dice onions and start frying them in oil. After the vegetables
				  have started to soften, drain the stock and let them dry for a minute. Cut garlic and add to the oil, then add the veggies. Spice with salt and pepper and if you haven't used oregano in the
				  bechamél, use it here.Stir fry for about 5 minutes. Remove from the oven and add parsil.
				   <h5>The layering</h5>
				   Start with noodles at the bottom, add a layer of vegetables, then bechamél, then a little bit of the grated cheese. Reoeat until you arrive at the top of the dish, or your ingredients run out.
				   You should have about half of the grated cheese left, sprinkle on top. <br />
				   Bake in the oven at 180° C for about 25-30 minutes, or until lightly brown. Let rest for 10 minutes before eating, so the sauce can assimilate. Love life. 
					<br /><br />
					<img src="/images/2017-04-07-cheese-infused-vegetable-lassagna5.jpg" alt="pasta salad image" style="width:100%"/>
				</code>
			</section>

			<section class="full-page-text">
				<code>
				</code>
			</section>
			
			<section class ="additional-image">
			</section>
		
		<br />
