---
layout: post
title: "Hail Satan: Deviled Eggs galore"
date: 2017-03-25
thumbnail: "/images/2017-03-25-hail-satan-deviled-eggs-thumbnail.jpg"
comments: true
tags:
- ketogenic
- low-carb
- vegetarian
- yolked
origin: Italy
fats: 45
carbs: 4
protein: 27
permalink: /:year/:month/:day/:title
---
		<!-- BEGINNING OF INDIVIDUAL PAGE CONTENT -->
			<section class="ingredients">
				 <code class="ingredients">
					<h4>Ingredients (1 Serving)</h4>
					4 <b>eggs, Chicken</b><br />
					1 tsp. <b>Mustard</b><br />
					2 tbsp. <b>Mayonnaise</b><br />
					<h4>Spices</h4>
					<b>Parsley</b> OR <b>Chives</b> for garnish<br />
					<b>Salt and Pepper</b> to taste<br />
				</code>
				{% include calories.html weight="255g" calories="528" fats="45.4g" saturated_fats="" trans_fats="" sodium="1118mg" carbs="4.3g" sugar="3.3g" fiber="0.1g" protein="26.8g"%}
				<br />
					{% include piechart.html fats="45.4"  carbs="4.3"  protein="26.8"%}
					<br />
			</section>

			<section class="post-text">
			  <code class ="post-text">
					<br />
				  	This one's great for a dinner party, a cookover, or for a gluttonous breakfast. They definitely have addictive properties, so make sure that you secure yourself 
				  	a few at a dinner, before other guests ravage them.<br />
				  <h5>Preparation</h5>
					Boil eggs until hard. Scare them cold (with tap water). Peel them. Take a spoon, mix the egg yolks with the ingredients, flavor with salt and pepper to taste. 
					Now the interesting part begins, you either take the poverty approach and use a spoon to but the yolk-mass back into the egg-whites (like I do, unless I have
					guests), or you use a small plastic bag (e.g. one for freezing things), fill it up and cut a small hole into the corner. Then you squeeze out the mass until the eggs look
					delicious enough to devour them in one sitting. Success.<br /><br />
					<img src="/images/2017-03-25-hail-satan-deviled-eggs.jpg" alt="deviled eggs image" style="width:100%"/>
				</code>
			</section>

			<section class="full-page-text">
				<code>
				</code>
			</section>
			
			<section class ="additional-image">
			</section>
		
		<br />
	
