---
layout: category
title: "The Gluttonous Hall of Fame: Guest recipes"
---
<h1>{{ page.title }}</h1>
<br />

<section class="thumbnail-collection">
	{% assign intarray = "1,2,3,4,5" | split: ',' %}
	{% assign chararray = "c,d,e" | split: ',' %}
	
	{% for post in site.posts %}
		{% if post.category == "Guest" %}
		<section class="thumbnail">
			<code>
				<a class="thumbnail" href="{{ post.url }}"><img class="thumbnail" src="{{ post.thumbnail }}" alt="thumbnails for posts" />
					<span class="thumbnail-text" style="  
						background-color:#{{ intarray | sample }}{{ intarray | sample }}{{ chararray | sample }};">
					{{ post.title }}</span> </a>
				
			</code>
		</section>
		{% endif %}
	{% endfor %}

</section>
