<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div id="div-header">
			<img id="img-header" src="http://i.imgur.com/gArybQf.jpg" title="All the Food Title image" alt="All the Food Title image"/>
				<div id="div-logo">
					<a id="a-logo" href="https://orsohypatos.github.io/"><img id="img-logo" src="http://i.imgur.com/yiONy6g.png" title="All the Food Logo" alt="All the Food logo"/></a> 	
				</div>
		
		
		
			<div class="sections">
				<ul class="sections">
					<li class="sections"><a class="sections" href="/pages/diet.html">Diet</a></li>
					<li class="sections"><a class="sections" href="/pages/gluttony.html">Gluttony</a></li>
					<li class="sections"><a class="sections" href="/pages/origin.html">Origin</a></li>
					<li class="sections"><a class="sections" href="/pages/guests.html">Guests</a></li>
					<li class="sections" style=float:right;><a class="sections" href="#search">search</a></li>
				</ul>
			</div>
		
		
		
		</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:orsohypatos@protonmail.com">email</a></li>
	        		<li><a href="https://orsohypatos.github.io">Home</a></li>
				</ul>
			</footer>
		</body>
	</html>
